/*!
 * author:guyue
 * contacts:baidu hi->guyuebupt
 * see https://github.com/YueGuBUPT/tinyDialog
 */
.tinyDialog_wrapper{
	border:1px solid gray;
	border-radius:8px;
	box-shadow:0 5px 15px rgba(0,50,0,.4);
	overflow:hidden;
	background:#dbdfe3;
	z-index:1001;
	font-size:14px;
	position:fixed;
	_position:absolute;
	display: none;
}
.tinyDialog_title{
	padding:1px 0;
	color:#fff;
	font-weight: bold;
	height:29px;
	line-height: 29px;
	text-indent:5px;
	text-shadow:-1px -1px 0 rgba(33, 79, 183, .7);
	background:url(b.png) 0 0 repeat-x;
}
.tinyDialog_content_outer{
	padding:6px;
	height:60px;
	overflow:scroll; /* iOS 5+ , Andorid 3.0+ (see http://barrow.io/overflow-scrolling `Android Browser`)*/
	-webkit-overflow-scrolling:touch;/* iOS 5+ , Andorid 4.2+ / Chrome for Andorid 4.0+ */
	-moz-overflow-scrolling:touch;
	-ms-overflow-scrolling:touch;
	overflow-scrolling:touch;
}
.tinyDialog_content{
	display: table-cell;
	height:60px;
	vertical-align:middle;
}
.tinyDialog_buttons_area{
	padding:10px;
	height:28px;
	text-align: center;
}
.tinyDialog_button{
	border:1px solid #1c6a9e;
	border-radius:5px;
	text-align:center;
	padding:0 8px;
	height:26px;
	line-height:26px;
	display:inline-block;
	background:#2288cc;
	background:-webkit-linear-gradient(top,#33bbee,#2288cc);
	background:-moz-linear-gradient(top,#33bbee,#2288cc);
	background:-ms-linear-gradient(top,#33bbee,#2288cc);
	background:linear-gradient(top,#33bbee,#2288cc);
	color:#fff;
	text-shadow:-1px -1px 1px #1c6a9e;
	cursor:pointer;
	font-weight: bold;
	outline:none;
	margin-right: 20px;
}
.tinyDialog_button{
	*display:inline;
}
.tinyDialog_last_button{
	margin-right: 0;
}
.tinyDialog_button_secondary{
	background:#ddd;
	background:-webkit-linear-gradient(top,#fff,#ddd);
	background:-moz-linear-gradient(top,#fff,#ddd);
	background:-ms-linear-gradient(top,#fff,#ddd);
	background:linear-gradient(top,#fff,#ddd);
	border: 1px solid #999;
	text-shadow:0px 1px 1px rgba(255, 255, 255, .5);
	color:#333;
}
.tinyDialog_button_secondary:hover{
	border-color:#666;
}
.tinyDialog_button_secondary:active{
	border-color:#666;
	box-shadow: inset 0 1px 1em rgba(0, 0, 0, .6), inset 0 1px 1em rgba(0, 0, 0, .3);
}
.tinyDialog_button_secondary:focus{
	border-color:#426DC9;
	box-shadow:0 0 8px rgba(66, 109, 201, .9);
}
.tinyDialog_button:hover{
	border-color:#0F3A56;
}
.tinyDialog_button:active{
	border-color:#1c6a9e;
	box-shadow: inset 0 1px 1em rgba(0, 0, 0, .6), inset 0 1px 1em rgba(0, 0, 0, .3);
}
.tinyDialog_button:focus{
	border-color:#426DC9;
	box-shadow:0 0 8px rgba(66, 109, 201, .9);
}
.tinyDialog_close_x{
	cursor:pointer;
	background: url(b.png) 0 -36px no-repeat;
	position: absolute;
	top:4px;
	right:4px;
	width: 20px;
	height:20px;
	_font-size: 0;
}
.tinyDialog_close_x:hover{
	background-position:0 -56px;
}
.tinyDialog_mask{
	position:fixed;
	_position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#000;
	filter:alpha(opacity=70);
	opacity:0.7;
	z-index:1000
}